@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}
<script src="~/Scripts/anlink.js"></script>
<div class="header-breadcrumb" style="margin-bottom: 0px;">
    <div class="container">
        <div class="row ">
            <div class="col-xs-12">
                <ol class="breadcrumb" itemscope="" itemtype="http://data-vocabulary.org/Breadcrumb">
                    <li class="home">
                        <a itemprop="url" href="/"><span itemprop="title">Trang chủ</span></a>
                        <span><i class="fa fa-angle-right"></i></span>
                    </li>

                    <li>Thực đơn</li>

                </ol>
            </div>
        </div>
    </div>
</div>

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Thực đơn</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="images/icons/favicon.ico" />
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Menu Table/vendor/bootstrap/css/bootstrap.min.css">
    <!--=========================================~/Menu Table/======================================================-->
    <link rel="stylesheet" type="text/css" href="~/Menu Table/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <!--=========================================~/Menu Table/======================================================-->
    <link rel="stylesheet" type="text/css" href="~/Menu Table/vendor/animate/animate.css">
    <!--=========================================~/Menu Table/======================================================-->
    <link rel="stylesheet" type="text/css" href="~/Menu Table/vendor/select2/select2.min.css">
    <!--=========================================~/Menu Table/======================================================-->
    <link rel="stylesheet" type="text/css" href="~/Menu Table/vendor/perfect-scrollbar/perfect-scrollbar.css">
    <!--=========================================~/Menu Table/======================================================-->
    <link rel="stylesheet" type="text/css" href="~/Menu Table/css/util.css">
    <link rel="stylesheet" type="text/css" href="~/Menu Table/css/main.css">
    <!--===============================================================================================-->
</head>
<body>

    <!-- Load Facebook SDK for JavaScript -->
    <div id="fb-root"></div>
    <script>
        window.fbAsyncInit = function () {
            FB.init({
                xfbml: true,
                version: 'v3.2'
            });
        };

        (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = 'https://connect.facebook.net/vi_VN/sdk/xfbml.customerchat.js';
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));</script>

    <!-- Your customer chat code -->
    <div class="fb-customerchat"
         attribution=setup_tool
         page_id="729666384059010"
         theme_color="#e68585"
         logged_in_greeting="Bạn có cần mình giúp gì không ạ ?"
         logged_out_greeting="Bạn có cần mình giúp gì không ạ ?">
    </div>
    <div class="limiter">
        <div class="container-table100">
            <div class="wrap-table100">
                <span style="text-align:center;color:#3972BA;font-family:Tahoma;font-size:14px">
                    <h3>THỰC ĐƠN TRONG TUẦN</h3>
                    <br />
                </span>
                <div class="table100">
                    <table>
                        <thead>
                            <tr class="table100-head">
                                <th class="column1">Thứ</th>
                                <th class="column2">Sáng</th>
                                <th class="column3">Trưa</th>
                                <th class="column4">Phụ</th>
                                <th class="column5">Tráng miệng</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td class="column1">@item.THU</td>
                                    <td class="column2">@item.BUOISANG</td>
                                    <td class="column3">@item.BUOITRUA</td>
                                    <td class="column4">@item.BUOIPHU</td>
                                    <td class="column5">@item.TRANGMIENG</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
                <div style="text-align:right;font-style:italic">
                    <br /><br /><h5> Đã cập nhật: @DateTime.Now.ToShortDateString()</h5>
                </div>
            </div>
        </div>
    </div>

    <!--===============================================================================================-->
    <script src="~/Menu Table/vendor/jquery/jquery-3.2.1.min.js"></script>
    <!--=========~/Menu Table/======================================================================================-->
    <script src="~/Menu Table/vendor/bootstrap/js/popper.js"></script>
    <script src="~/Menu Table/vendor/bootstrap/js/bootstrap.min.js"></script>
    <!--=========~/Menu Table/======================================================================================-->
    <script src="~/Menu Table/vendor/select2/select2.min.js"></script>
    <!--=========~/Menu Table/======================================================================================-->
    <script src="~/Menu Table/js/main.js"></script>


</body>
</html>

<div>
</div>
<footer id="footer" class="footer">
    <div class="widget">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-6">
                    <div class="col-md-6 col-sm-6 no-padding-l">
                        <div class="widget-item">
                            <a class="footer-logo" href="/">
                                <img alt="Quản Lý Mẫu Giáo" src="~/TeamplateUser/Logo-Icon/logo_whitef1c3.png">
                            </a>
                            <!-- End .widget-title -->
                            <ul class="widget-menu infomation">
                               
                                <li class="widget-address">
                                    <i class="fa fa-map-marker"></i>
                                    <span>475A Điện Biên Phủ, Phường 25, Quận Bình Thạnh, TP.HCM</span>
                                </li>
                                <li class="widget-address">
                                    <i class="fa fa-internet-explorer"></i>
                                    <span>www.quanlymaugiao.somee.com</span>
                                </li>
                                <li>
                                    <i class="fa fa-envelope"></i>
                                    <a href="mailto:mail.quanlymaugiao@gmail.com"> mail.quanlymaugiao@gmail.com</a>
                                </li>
                                <li class="social_icon">
                                    <ul>
                                        <li>
                                            <a target="_blank" title="Facebook" href="#">
                                                <i class="fa fa-facebook"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a target="_blank" title="Linkedin" href="#">
                                                <i class="fa fa-linkedin"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a target="_blank" title="vk" href="#">
                                                <i class="fa fa-vk"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a target="_blank" title="Youtube" href="#">
                                                <i class="fa fa-twitter"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                            <!-- End .widget-menu -->
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6 no-padding-l">
                        <div class="widget-item">
                            <h4 class="widget-title">Tin nhà trường</h4>
                            <!-- End .widget-title -->
                            @Html.Action("NotificationForHomeFooter", "Notification")
                            <!-- End .widget-menu -->
                        </div>
                        <!-- End .widget-item -->
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-6">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d7838.144862588686!2d106.71030667251328!3d10.805764519206361!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x3830dea3e120ec8e!2sHUTECH+University+of+Technology!5e0!3m2!1sen!2s!4v1521737729347" width="100%" height="400" frameborder="0" style="border:0" allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>
    <div class="hidden-md hidden-lg">
        <div class="container-fluid">
            <div class="row">
                <div class="plane_fly">
                </div>
            </div>
        </div>
    </div>
    <div class="hidden-xs hidden-sm">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="plane_fly_lg">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-6 copyright-pr no-padding-r">
                    <div class="pull-left copyright">
                        <span>
                            © Bản quyền thuộc về
                            <b>Quản Lý Mẫu Giáo</b>
                        </span>
                    </div>
                </div>
                <div class="hidden-xs col-sm-12 col-md-6 no-padding-l">
                    <div class="pull-right">
                        <ul class="bottom_linklist"></ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>

