@model IEnumerable<SmartEDU_2.Models.THONGBAO>
@{
    ViewBag.Title = "Detail";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

@foreach (var item in Model)
{
    <div id="main">
        <div class="header-breadcrumb">
            <div class="container">
                <div class="row ">
                    <div class="col-xs-12">
                        <ol class="breadcrumb" itemscope="" itemtype="http://data-vocabulary.org/Breadcrumb">
                            <li class="home">
                                <a itemprop="url" href="/"><span itemprop="title">Trang chủ</span></a>
                                <span><i class="fa fa-angle-right"></i></span>
                            </li>
                            <li>
                                <a itemprop="url" href="/tin-tuc"><span itemprop="title">Tin tức</span></a>
                                <span><i class="fa fa-angle-right"></i></span>
                            </li>
                            <li><strong itemprop="title">Chi tiết</strong></li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
        <section class="mb25">
            <div class="container" itemscope="" itemtype="http://schema.org/Article">
                <div class="row">
                    <div class="megamenu-right col-md-7 col-md-push-5">
                        <div class="section-article">
                            <div class="blog-item border-bt">
                                <div class="new-item">
                                    <div class="no-padding-l home-blog-content-right">
                                        <div class="home-blog-content-right-div">
                                            <h1 class="new-name" itemprop="name">@item.TIEUDE</h1>
                                            <p class="new-info"><span><i class="fa fa-calendar"></i> @item.NGAYTHONGBAO</span> <span><i class="fa fa-clock-o"></i> 4:37:00 CH</span><span><i class="fa fa-comment-o"></i> 0 Bình luận</span></p>
                                            <div class="new-description" itemprop="description">
                                                <p><strong>@item.MOTA</strong></p>
                                                @*<img src=~/Content/notification.jpg />*@
                                                <p>@item.NOIDUNG</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- End .blog-item -->
                            <div id="comments" class="section-comments comment">
                            </div>
                            <!-- End .section-comments .comment -->
                            <!-- form begin -->
                            <form accept-charset="UTF-8" action="/posts/@item.MATHONGBAO" id="article_comments" method="post">
                                <input name="FormType" type="hidden" value="article_comments">
                                <input name="utf8" type="hidden" value="true">

                                <div class="col-xs-12 no-padding-lr">
                                    <h4 class="comment-title" id="add-comment-title">Viết bình luận</h4>
                                    <div class="form-inline form-comment">
                                        <div class="row">
                                            <div class="col-xs-12 nam-and-email">
                                                <div class="form-group col-xs-12 col-sm-6">
                                                    <input type="text" id="comment-author" name="Author" class="form-control " placeholder="Họ tên:" value="" required="">
                                                </div>
                                                <div class="form-group col-xs-12 col-sm-6">
                                                    <input type="email" name="Email" placeholder="Email:" id="comment-email" value="" class="form-control " required="">
                                                </div>
                                            </div>
                                            <div class="col-xs-12 cmt-content-text">
                                                <div class="form-group">
                                                    <textarea class="form-control custom-control" name="Body" placeholder="Bình luận:" id="comment-body" rows="3" required=""></textarea>
                                                </div>
                                            </div>
                                            <div class="col-xs-12 post-cmt-btn">
                                                <button type="submit" class="btn-cart btn btn-default" style="width:100%">Gửi nhận xét</button>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- form end -->
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="sidebar-collection col-md-5 col-md-pull-7">
                        <div style="margin-bottom:15px">
                            <h2 class="default_title"><a href="/tin-tuc">Tin nổi bật</a></h2>
                        </div>
                        @Html.Action("NotificationForInsideNotificationDetail", "Notification", new { id = item.MATHONGBAO })
                    </div>
                </div>
            </div>
        </section>

    </div>
}
<div>
    
</div>
<footer id="footer" class="footer">
    <div class="widget">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-6">
                    <div class="col-md-6 col-sm-6 no-padding-l">
                        <div class="widget-item">
                            <a class="footer-logo" href="/">
                                <img alt="Quản Lý Mẫu Giáo" src="~/TeamplateUser/Logo-Icon/logo_whitef1c3.png">
                            </a>
                            <!-- End .widget-title -->
                            <ul class="widget-menu infomation">
                                <!-- <li>
                                    <i class="fa fa-phone"></i>
                                    <a href="tel:01633.696.484"> 01633.696.484 </a>
                                </li> -->
                                <li class="widget-address">
                                    <i class="fa fa-map-marker"></i>
                                    <span>475A Điện Biên Phủ, Phường 25, Quận Bình Thạnh, TP.HCM</span>
                                </li>
                                <li class="widget-address">
                                    <i class="fa fa-internet-explorer"></i>
                                    <span>www.quanlymaugiao.somee.com</span>
                                </li>
                                <li>
                                    <i class="fa fa-envelope"></i>
                                    <a href="mailto:mail.quanlymaugiao@gmail.com"> mail.quanlymaugiao@gmail.com</a>
                                </li>
                                <li class="social_icon">
                                    <ul>
                                        <li>
                                            <a target="_blank" title="Facebook" href="#">
                                                <i class="fa fa-facebook"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a target="_blank" title="Linkedin" href="#">
                                                <i class="fa fa-linkedin"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a target="_blank" title="vk" href="#">
                                                <i class="fa fa-vk"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a target="_blank" title="Youtube" href="#">
                                                <i class="fa fa-twitter"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                            <!-- End .widget-menu -->
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6 no-padding-l">
                        <div class="widget-item">
                            <h4 class="widget-title">Tin nhà trường</h4>
                            <!-- End .widget-title -->
                            @Html.Action("NotificationForHomeFooter", "Notification")
                            <!-- End .widget-menu -->
                        </div>
                        <!-- End .widget-item -->
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-6">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d7838.144862588686!2d106.71030667251328!3d10.805764519206361!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x3830dea3e120ec8e!2sHUTECH+University+of+Technology!5e0!3m2!1sen!2s!4v1521737729347" width="100%" height="400" frameborder="0" style="border:0" allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>
    <div class="hidden-md hidden-lg">
        <div class="container-fluid">
            <div class="row">
                <div class="plane_fly">
                </div>
            </div>
        </div>
    </div>
    <div class="hidden-xs hidden-sm">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="plane_fly_lg">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-6 copyright-pr no-padding-r">
                    <div class="pull-left copyright">
                        <span>
                            © Bản quyền thuộc về
                            <b>Quản Lý Mẫu Giáo Solution</b>
                        </span>
                    </div>
                </div>
                <div class="hidden-xs col-sm-12 col-md-6 no-padding-l">
                    <div class="pull-right">
                        <ul class="bottom_linklist"></ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>

<marquee style="z-index: 1; left: 777px; width: 00px; position: absolute; top: -14px; height: 1000px;" scrollamount="5"
        </div>
        <!-- Load Facebook SDK for JavaScript -->
        <div id="fb-root"></div>
        <script>
        (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = 'https://connect.facebook.net/vi_VN/sdk/xfbml.customerchat.js#xfbml=1&version=v2.12&autoLogAppEvents=1';
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));</script>

        <!-- Your customer chat code -->
        <div class="fb-customerchat"
             attribution=setup_tool
             page_id="729666384059010"
             theme_color="#e68585"
             logged_in_greeting="Bạn có cần mình giúp gì không ?"
             logged_out_greeting="Bạn có cần mình giúp gì không ?">
        </div>
    </div>
